<!--Container-->
<div class="flex flex-col w-full p-6">
  <!--Header-->
  <div class="flex flex-row justify-between px-6 md:px-40 flex-wrap md:flex-nowrap items-start space-y-6 md:space-y-0">
    <div>
      <p class="text-4xl font-bold font-serif">The creative crew</p>
    </div>
    <div class="flex flex-col">
      <p class="uppercase font-semibold">Who we are</p>
      <p class="w-96 md:pr-10">We are team of creatively diverse. driven. innovative individuals working in various locations
        from the world.</p>
    </div>
  </div>
  <!--Images section-->
<div class="hidden md:block px-40">
  <div class="flex flex-row justify-center space-x-10 pt-20">
    <div class="flex flex-row space-x-0">
      <div class="flex flex-col space-y-3">
        <img class="img" src="../assets/images/photo1.png" alt="">
        <p class="text-lg font-semibold">Bill Mahoney</p>
      </div>
        <div class="w-12">
          <p class="origin-left transform rotate-90 -mt-6 h-12 w-52 uppercase">product owner</p>
        </div>
    </div>
    <div class="flex flex-row pt-24">
      <div class="flex flex-col space-y-3">
        <img class="img" src="../assets/images/photo2.png" alt="">
        <p class="text-lg font-semibold">Saba Cabrera</p>
      </div>
      <div class="w-12">
        <p class="origin-left transform rotate-90 -mt-6 h-12 w-52 uppercase">Art director</p>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="flex flex-col space-y-3">
        <img class="img" src="../assets/images/photo3.png" alt="">
        <p class="text-lg font-semibold">Shae Lee</p>
      </div>
      <div class="w-12">
        <p class="origin-left transform rotate-90 -mt-6 h-12 w-52 uppercase">Tech Lead</p>
      </div>
    </div>
  </div>
</div>
<div class="hidden md:block px-40">
  <div class="flex flex-row justify-center space-x-10 pt-16">
    <div class="flex flex-row">
      <div class="flex flex-col space-y-3">
        <img class="img" src="../assets/images/photo4.png" alt="">
        <p class="text-lg font-semibold">Skylah Lu</p>
      </div>
      <div class="w-12">
        <p class="origin-left transform rotate-90 -mt-6 h-12 w-52 uppercase">UX Designer</p>
      </div>
    </div>
    <div class="flex flex-row pt-24">
      <div class="flex flex-col space-y-3">
        <img class="img" src="../assets/images/photo5.png" alt="">
        <p class="text-lg font-semibold">Griff Richards</p>
      </div>
      <div class="w-12">
        <p class="origin-left transform rotate-90 -mt-6 h-12 w-52 uppercase">Developer</p>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="flex flex-col space-y-3">
        <img class="img" src="../assets/images/photo6.png" alt="">
        <p class="text-lg font-semibold">Stan John</p>
      </div>
      <div class="w-12">
        <p class="origin-left transform rotate-90 -mt-6 h-12 w-52 uppercase">DEverloper</p>
      </div>
    </div>
  </div>
</div>
<!--Image section mobile-->
<div class="block md:hidden pt-10">
  <div class="flex flex-row justify-center pl-10 space-x-1 pt-6">
    <div class="flex flex-row space-x-0">
      <div class="flex flex-col space-y-3">
        <img class="img-small" src="../assets/images/photo1.png" alt="">
        <p class="text-lg font-semibold">Bill Mahoney</p>
      </div>
        <div class="w-12">
          <p class="origin-left transform rotate-90 -mt-6 h-12 w-52 uppercase">product owner</p>
        </div>
    </div>
    <div class="flex flex-row pt-24">
      <div class="flex flex-col space-y-3">
        <img class="img-small" src="../assets/images/photo2.png" alt="">
        <p class="text-lg font-semibold">Saba Cabrera</p>
      </div>
      <div class="w-12">
        <p class="origin-left transform rotate-90 -mt-6 h-12 w-52 uppercase">Art director</p>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-center pl-10 space-x-1 pt-6">
    <div class="flex flex-row space-x-0">
      <div class="flex flex-col space-y-3">
        <img class="img-small" src="../assets/images/photo3.png" alt="">
        <p class="text-lg font-semibold">Shae Le</p>
      </div>
        <div class="w-12">
          <p class="origin-left transform rotate-90 -mt-6 h-12 w-52 uppercase">Tech Lead</p>
        </div>
    </div>
    <div class="flex flex-row pt-24">
      <div class="flex flex-col space-y-3">
        <img class="img-small" src="../assets/images/photo4.png" alt="">
        <p class="text-lg font-semibold">Skylah Lu</p>
      </div>
      <div class="w-12">
        <p class="origin-left transform rotate-90 -mt-6 h-12 w-52 uppercase">UX Designer</p>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-center pl-10 space-x-1 pt-6">
    <div class="flex flex-row space-x-0">
      <div class="flex flex-col space-y-3">
        <img class="img-small" src="../assets/images/photo5.png" alt="">
        <p class="text-lg font-semibold">Griff Richards</p>
      </div>
        <div class="w-12">
          <p class="origin-left transform rotate-90 -mt-6 h-12 w-52 uppercase">Developer</p>
        </div>
    </div>
    <div class="flex flex-row pt-24">
      <div class="flex flex-col space-y-3">
        <img class="img-small" src="../assets/images/photo6.png" alt="">
        <p class="text-lg font-semibold">Stan John</p>
      </div>
      <div class="w-12">
        <p class="origin-left transform rotate-90 -mt-6 h-12 w-52 uppercase">Deverloper</p>
      </div>
    </div>
  </div>
</div>
<!--Footer-->
<footer class="flex flex-row justify-center pt-28">
  <p class="footer">created by Luis Fernando - devChallenges.io</p>
</footer>
</div>